{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/editpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/postcourse.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Outline&family=Open+Sans:wght@500&family=Raleway&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Edit</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="post-course-wrapper">>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="submit-btn-div">
                    <a href="{% url 'homepage' %}">Go back</a>
                    <input class='submit' type="submit" value="confirm">
                </div>
            </form>
        </div>
    </div> 
</body>
</html>